@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/*Header*/
header img {
    width: 80px;
}

#navbarNav {
    height: 112px !important;
    font-weight: 600;
}

.nav-item {
    height: 100% !important;
}

.nav-link {
    border-block: 5px solid transparent;
    height: 100% !important;
    padding-block: 0 !important;
    display: flex !important;
    align-items: center !important;
}

.nav-item:hover .nav-link, .nav-item.active .nav-link {
    border-bottom: 5px solid #0282F9;
}

/*Main*/
.jumbotron {
    background-image: url("assets/img/jumbotron.jpg");
    height: 50vh;
    background-size: cover;
}

.bg-black > .container {
    position: relative;
}

.current {
    position: absolute;
    padding: 10px 15px;
    background-color: #0282F9;
    font-weight: 700;
    font-size: 18px;
    top: -20px;
}

.bg-custom {
    background-color: #0282F9;
    color: white;
}

main > .bg-custom ul {
    list-style-type: none;
}

.bg-custom ul li {
    display: flex;
    align-items: center;
    padding: 30px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
}

.bg-custom ul li img {
    height: 50px;
    padding-right: 5px;
}
.bg-custom ul li:hover {
    background-color: #0560b6;
}

/*Footer*/
footer {
    background-color: red;
}

.footer-top {
    background-image: url("./assets/img/footer-bg.jpg");
    color: rgb(161, 159, 159);
    font-size: 14px;
}

.footer-top h5 {
    color: white;
    font-weight: 700;
}

.footer-top ul {
    padding-bottom: 20px;
}

.footer-top a:hover {
    color: white;
}

.footer-top figure {
    background-image: url("./assets/img/dc-logo-bg.png");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.footer-bottom {
    background-color: #303030;
}

.footer-bottom > .container > a {
    color: white;
    font-weight: 600;
    border: 2px solid #0282F9;
}

.footer-bottom span {
    color: #0282F9;
}

